<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>
        <div>
            <% @post_tags.each do |posts| %>
            <%= posts.name %>
            <% end %>
          </div>