 <section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ユーザー一覧画面
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12">
        <div class="box-content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              <thead class="thead-light">
                <tr>
                 <th>会員ID</th>
                 <th>氏名</th>
                 <th>メールアドレス</th>
                 <th>ステータス</th>
                </tr>
              </thead>
              <tbody>
               <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <% user_name = user.first_name + user.last_name %>
                  <td><%= link_to user_name, admin_user_path(user.id) %></td>
                  <td><%= user.email %></td>
                    <% if user.is_active == true %>
                      <td class="text-success font-weight-bold">有効</td>
                    <% else %>
                      <td class="text-secondary font-weight-bold">退会</td>
                    <% end %>
                </tr>
               <% end %>
              </tbody>
          </table>
            <div class="column is-3 is-centerd">
              <nav class="pagination is-rounded" role="navigation" aria-label="pagination"><%= paginate @users %></nav>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
